<%= form_with(model: @quotation) do |form| %>
  <% if @quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
        <% @quotation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :author_name %>
    <%= form.text_field :author_name %>
  </div>

  <div class="field">
    <%= form.label :quote %>
    <%= form.text_area :quote %>
  </div>

  <div class="field">
    <%= form.label :category_id, 'Select Category' %>
    <%= form.select :category_id, options_for_select(@categories, @quotation.category_id), prompt: 'Choose an existing category' %>
  </div>

  <div class="field">
    <%= form.label :new_category, 'Or add a new category' %>
    <%= form.text_field :new_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
